body{
    background-color: rgb(255, 0, 0);
    color: whitesmoke;
}
.all-browsers {
    margin: 0;
    padding: 5px;
    background-color: rgba(245, 190, 9, 0.749);
  }
  
  .all-browsers > h1, .browser {
    margin: 10px;
    padding: 5px;
  }
  
  .browser {
    background: rgb(70, 33, 33);
  }
  
  .browser > h2, p {
    margin: 4px;
    font-size: 90%;
  }